:root{
  --black:#111;
  --white:#fff;
  --gray:#ddd;
}

body {
  margin: 0;
  /* padding: 0;
  box-sizing: border-box; */
}
header {
  /* background-color: #333; */
  color: var(--white);
  /* padding: 20px; */
  padding: 1rem;
  background: var(--black);
  text-align: center;
}

.medlemmer {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 2rem;
  /* justify-content: center; */
  padding: 2rem;
}

medlemm-card {
  /* background-color: #f4f4f4; */
  border: 1px solid var(--gray);
  background: var(--white);
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  /* max-width: 300px; */
  max-width: 280px;
  margin: auto;

  /* margin: 20px;
  border-radius: 8px; */
}

#medlemm-info{
  margin: 1rem 0;
  padding: 1rem;
  background: var(--white);
  border-radius: 8px;
  border: 1px solid var(--white);
  text-align: center;
}
section {
  /* background-color: #f4f4f4; */
  border: 1px solid var(--gray);
  background: var(--white);
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  /* max-width: 700px; */
  margin: 2rem auto;

  /* margin: 20px;
  border-radius: 8px; */
}

.section h2 {
  /* background-color: #f4f4f4; */
  border: 1px solid var(--gray);
  background: var(--white);
  padding: 1rem;
  /* text-align: left; */
  /* float: left; */
  /* border-radius: 10px; */
  left: 1%;
  /* justify-content: left; */
  /* margin-right: 20px; */
  margin: 2rem auto;

  /* margin: 20px;
  border-radius: 8px; */
}

article {
  margin: 1rem 0;
  padding: 1rem;
  /* background-color: #fff; */
  background: var(--white);
  border-radius: 8px;
  border: 1px solid var(--gray);
  text-align: left;
}

img {
  /* width: 100%; */
  width: 120px;
  /* height: auto; */
  height: 120px;
  border-radius: 50%;
}